/* styles/FestivalsPage.css */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.page-container {
  min-height: 100vh;
  padding: 2rem;
  padding-bottom: 5rem;
  background-color: var(--bg-color);
}

.page-title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color);
}

.date-buttons {
  margin-bottom: 1rem;
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  flex-wrap: fit-content;
  margin: 20px;
}

.date-button  {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.date-button::before {
  margin-left: auto;
}

.date-button::after, .date-button::before {
  content: '';
  width: 0%;
  height: 3px;
  background: var(--selected-color);
  display: block;
  transition: 0.5s;
}

.date-button:hover::after, .date-button:hover::before {
  width: 100%;
}

.date-button-selected {
  background-color: var(--selected-color);
  color: var(--selected-text-color);
  transition: 0.5s;

}

.date-button-unselected {
  background-color: none;
  color: var(--text-color);
  transition: 0.5s;

}

.summary-container {

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--modal-content-bg-color);
}

.summary-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  color: var(--text-color);
}


/*	
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */


 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 



/*
.table {
    width: 100%;
    margin-top: 1rem;
}

.table th,
.table td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
}

.table-row:hover {
    background-color: var(--hover-bg-color);
}
*/

.festival-buttons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.festival-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 9999px; /* Full rounded corners for pill shape */
  border: 1px solid var(--border-color);
  transition: background-color 0.3s, color 0.3s;
}

.festival-button-selected {
  background-color: var(--primary-color);
  color: white;
}

.festival-button-unselected {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.festival-button:hover {
  background-color: var(--hover-bg-color);
  color: var(--text-color);
}

.festival-details {
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--modal-content-bg-color);
}

.festival-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  color: var(--text-color);
}

.festival-date,
.festival-location {
  color: var(--text-color);
  text-align: center;
}

.festival-location-button {
  color: var(--primary-color);
  text-decoration: underline;
}

.festival-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.festival-image {
  border-radius: 0.5rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-bg-color);
}

.modal-content {
  background-color: var(--modal-content-bg-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 32rem;
  width: 100%;
}

.modal-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.modal-close-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}