/* styles/FestivalsPage.css */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  min-height: 100vh;
  padding: 0rem;
  padding-bottom: 5rem;
  background-color: #edecec;
}

.page-title {
  font-size: 8vh; /* text-3xl */
  padding: 5 5 5 5;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', sans-serif; /* Use a modern font */
}

.summary-container {
  padding: 5 0 5 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  box-sizing: border-box;
}


.table-container {
  padding: 5 0 5 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  box-sizing: border-box;
}


.summary-title {
  font-size: 3vh; /* text-xl */
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  color: #D60000;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif; /* Use a modern font */

}
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:4em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #D60000;
 }
 

 .tb-header {
  
  font-size:3vh; 
  font-weight: 500;
  line-height: 1.25em;
  color: var(--text-color-light);
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tb-body {
  font-size:2vh; 
  font-weight: 300;
  line-height:1em;
  color: var(--text-color);
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.tab-sty {
  overflow-x: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
  font-size: 3vh;
}

.tab-sty::-webkit-scrollbar {
  height: 8px; /* Height of horizontal scrollbar */
}

.tab-sty::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.tab-sty::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Padding around the thumb */
}
 

 .calendar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.festival-details {
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--modal-content-bg-color);
}

.festival-title {
  font-size: 2.5em; /* text-xl */
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  color: #D60000;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif; /* Use a modern font */

}

.festival-date,
.festival-location {
  color: var(--text-color);
  text-align: center;
}

.festival-location-button {
  color: var(--primary-color);
  text-decoration: underline;
}

.festival-image-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.festival-image {
  border-radius: 0.5rem;
}

.column {
  float: left;
  width: 33.33%;
  padding: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 1200px) {
  .tb-body  {
    font-size: 1.5vh;
  }
  .tb-header  {
    font-size: 2vh;
  }
}

@media (max-width: 992px) {
  .tb-body  {
    font-size: 1.35vh;
  }
  .tb-header  {
    font-size: 1.75vh;
  }
}

@media (max-width: 768px) {
  .tb-body  {
    font-size: 1.25vh;
  }
  .tb-header  {
    font-size: 1.6vh;
  }
}

@media (max-width: 576px) {
  .tb-body  {
    font-size: 1.1vh;
  }
  .tb-header  {
    font-size: 1.4vh;
  }
}